@model AssignmentEcommerce_Shared.CartRespond

<div class="media">
    <div class="media-left">
        <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.ProductId">
            <img class="media-object" src="@Model.Image" alt="@Model.ProductName" />
        </a>
    </div>
    <div class="media-body">
        <h2 class="h4 media-heading">@Model.ProductName</h2>
        <p class="price">@Convert.ToDecimal(Model.Price).ToString("#,##") VND</p>
    </div>
    <div class="controls">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
            </span>
            <input type="text" class="form-control input-sm" placeholder="Qty" value="@Model.Quantity" readonly="">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
            </span>
        </div>

        <form asp-action="RemoveCart" asp-controller="Carts" method="post">
            <input name="id" type="hidden" value="@Model.CartDetailId" />
            <button type="submit" class="btn btn-primary btn-rounded btn-sm"> <i class="ion-trash-b"></i> Remove</button>
        </form>
    </div>
    <br />
</div>