@model AssignmentEcommerce_Shared.CartRespond

<div class="media">
    <div class="media-left">
        <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.ProductId">
            <img class="media-object" src="@Model.Image" alt="@Model.ProductName" />
        </a>
    </div>
    <div class="media-body">
        <h2 class="h4 media-heading">@Model.ProductName</h2>
        <p class="price">@Convert.ToDecimal(Model.Price).ToString("#,##") VND</p>
    </div>
    <div class="controls">
        <div class="input-group">
            <form asp-action="UpdateCart" asp-controller="Carts" method="post" style="display: inline">
                <input type="hidden" name="cartDetailId" value="@Model.CartDetailId" />
                <input type="hidden" name="quantity" value="-1" />
                <button class="btn btn-default btn-sm" type="submit"><i class="ion-minus-round"></i></button>
            </form>
            <form asp-action="UpdateCart" asp-controller="Carts" method="post" style="display: inline">
                <input type="hidden" name="cartDetailId" value="@Model.CartDetailId" />
                <input type="hidden" name="quantity" value="1" />
                <button class="btn btn-default btn-sm" type="submit"><i class="ion-plus-round"></i></button>
            </form>
            <form asp-action="RemoveCart" asp-controller="Carts" method="post" style="display: inline">
                <input name="id" type="hidden" value="@Model.CartDetailId" />
                <button type="submit" class="btn btn-default btn-sm"><i class="ion-trash-b"></i></button>
            </form>
            <input type="text" class="form-control input-sm" placeholder="Qty" value="@Model.Quantity" readonly="">
        </div>
    </div>
    <br />
</div>