@model AssignmentEcommerce_Shared.ProductVm

<hr class="offset-lg">
<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7">
                <div class="carousel product" data-count="5" data-current="1">
                    <div class="items">
                        <div class="item active" data-marker="1">
                            <img src="@Model.Images" alt="@Model.Name" />
                        </div>
                    </div>

                    <ul class="markers">
                        <li data-marker="1" class="active"><img src="@Model.Images" alt="@Model.Name" /></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5 col-md-5">
                <h2>@Model.NameCategory</h2>
                <h1>@Model.Name</h1>
                <h3>
                    @for (int i = 0; i < Model.Rating; i++)
                    {
                        <i class="ion-android-star" style="color: #ffdd59"></i>
                    }
                </h3>

                <p class="price">@Convert.ToDecimal(Model.Price).ToString("#,##") VND</p>
                <br><br>

                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-action="AddToCart" asp-controller="Carts" method="post">
                        <input name="productId" type="hidden" value="@Model.ProductId" />
                        <input name="quantity" type="hidden" value="1" />
                        <button type="submit" class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                    </form>
                }
                else
                {
                    <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                }
            </div>
        </div>
        <br><br><br>


        <div class="row">
            <div class="col-sm-7">
                <h1>@Model.Name</h1>
                <br>
                <p>@Model.Description</p>
                <br>

                <h2>Product specifications</h2>
                <br>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Operating system</label> </div>
                    <div class="col-sm-6"> <p>Chrome OS™</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Processor</label> </div>
                    <div class="col-sm-6"> <p>Intel® Celeron® N2840 with Intel® HD Graphics (2.16 GHz, up to 2.58 GHz, 1 MB cache, 2 cores)</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Processor technology</label> </div>
                    <div class="col-sm-6"> <p>Intel Turbo Boost Technology</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Graphics</label> </div>
                    <div class="col-sm-6"> <p>Intel HD Graphics</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Memory</label> </div>
                    <div class="col-sm-6"> <p>2 GB DDR3L SDRAM (onboard)</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Hard drive</label> </div>
                    <div class="col-sm-6"> <p>16 GB eMMC</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Wireless</label> </div>
                    <div class="col-sm-6"> <p>802.11ac (2x2) and Bluetooth® 4.0 combo</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Power supply</label> </div>
                    <div class="col-sm-6"> <p>45 W AC power adapter</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-6"> <label>Battery</label> </div>
                    <div class="col-sm-6"> <p>3-cell, 36 Wh Li-ion</p> </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="comments">
                    <h2 class="h3">What do you think? (#@ViewBag.ReviewsCount)</h2>
                    <div class="wrapper">
                        <div class="content">
                            @foreach (var review in ViewBag.Reviews)
                            {
                                @await Component.InvokeAsync("ReviewContent", review);
                            }
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#Modal-Comment"> <i class="ion-chatbox-working"></i> Add comment </button>
                </div>
                <br><br>

                <div class="talk">
                    <h2 class="h3">Do you have any questions?</h2>
                    <p>Online chat with our manager</p>

                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#Modal-Talk"> <i class="ion-android-contact"></i> Lat's talk </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<section class="products">
    <div class="container">
        <h1 class="h3">Recommendation for you</h1>

        <div class="row">
            @foreach (var product in ViewBag.ProductsSameCate)
            {
                @await Component.InvokeAsync("ProductCard", product);
            }
        </div>
    </div>
</section>
<br>
<br>

<div class="modal fade" id="Modal-Comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header align-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
                <h1 class="h4 modal-title">Add your comment</h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class="join" asp-action="PostReview" asp-controller="Product" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="rate">
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="userName" value="" placeholder="Name" required class="form-control" />
                                    <input type="hidden" name="productId" value="@Model.ProductId" />
                                    <br>
                                </div>
                                <div class="col-sm-12">
                                    <textarea name="content" placeholder="Type here" required class="form-control" rows="5"></textarea>
                                    <br>
                                </div>
                                <div class="col-sm-12">
                                    <div class="align-center">
                                        <br>
                                        <button type="submit" class="btn btn-primary btn-sm"> <i class="ion-android-send"></i> Send</button>
                                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"> <i class="ion-android-share"></i> No, thanks </button>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="text-center">
                            <h3 class="text-center">Please login before comment the product !</h3>
                            <a asp-controller="Account" asp-action="SignIn"> Login </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal-Talk" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header align-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
                <h1 class="h4 modal-title">Talk</h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="text-center">
                        <h3 class="text-center">We don't talk anymore - Charlie Puth !</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>