@model AssignmentEcommerce_Shared.ProductVm

<div class="col-sm-6 col-md-4 product">
    <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.ProductId"><img src="@Model.Images" alt="@Model.Name" style="height: 200px; width: 200px" /></a>

    <div class="content">
        <h1 class="h4">@Model.Name</h1>
        <p>
            @for (int i = 0; i < Model.Rating; i++)
            {
                <i class="ion-android-star" style="color: #ffdd59"></i>
            }
        </p>
        <p class="price">@Convert.ToDecimal(Model.Price).ToString("#,##") VND</p>
        <label>@Model.NameCategory</label>

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="AddToCart" asp-controller="Carts" method="post">
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.ProductId" class="btn btn-link"> Details</a>
                <input name="productId" type="hidden" value="@Model.ProductId" />
                <input name="quantity" type="hidden" value="1" />
                <button type="submit" class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
            </form>
        }
        else
        {
            <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.ProductId" class="btn btn-link"> Details</a>
            <button data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="text-center">
                                <h3>Please login before add to cart !</h3>
                                <a asp-controller="Account" asp-action="SignIn"> Login </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>